@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
/* ! Base start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box 0;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ! Base end */

/* ! Header start */

header {
  border-bottom: 1px solid #dee0ea;
}
.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.global-notification {
  background-color: #1367ef;
  padding: 14px;
  text-align: center;
  font-size: 12px;
  color: white;
}
.global-notification a {
  color: white;
  font-weight: 600;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-left .logo {
  font-size: 24px;
  font-weight: 500;
}
.header-center .navigation .menu-list {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.menu-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.menu-list i {
  font-size: 12px;
}
/* ! Header end */
