@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
/* ! Base start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}
button {
  cursor: pointer;
  border: none;
}
.btn {
  display: inline-block;
  padding: 0 25px;
  border: 1px solid black;
  font-weight: 500;
  transition: 0.2s ease all;
}
.btn-primary {
  background-color: #1367ef;
  color: #fff;
  border-color: #1367ef;
}
.btn-primary:hover {
  background-color: #fff;
  color: #1367ef;
  border-color: #1367ef;
}
.btn-sm {
  line-height: 33px;
}

.btn-lg {
  line-height: 45px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 8px 8px 15px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border-color: gray;
}

/* ! Base end */

/* ! Responsive */




@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 420px) {
  .container {
    max-width: 350px;
  }
}


