.section-title{
    text-align: center;
    margin-bottom: 35px;
}
.section-title h2{
    font-size: 32px;
    font-weight: 500;
    line-height: 0.8;
    margin-bottom: 4px;
}
/* ! categories start */
.categories{
    margin: 40px 0;
}
.categories .category-list{
    display: flex;
    gap: 30px;
    margin-top: 30px;
   flex-wrap: wrap;
}
/* ! categories end*/
/* ! products start */
.products{
    margin-bottom: 40px;
}
.products .product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.products .product-list{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
/* ! products end */
/* ! campaigns start */
 .campaigns .campaigns-wrapper{
    display: flex;
    gap: 30px;
    margin: 30px 0;
    flex-wrap: wrap;
 }
/* ! campaigns end */
/* ! blogs start */
.blogs{
    margin-bottom: 30px;
}
.blogs .blog-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
@media(max-width:768px){
    .blogs .blog-list{
        grid-template-columns: 1fr;
    }
}
/* ! blogs end */
/* ! policy start */

.policy{
    margin-top: 40px;
    border: 1px solid #dee0ea;
}
.policy .policy-list{
    display: flex;
    padding: 25px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.policy .policy-list .policy-item{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.policy .policy-item .policy-text{
    display: flex;
    flex-direction: column;
}
.policy .policy-item i{
    font-size: 50px;
    display: flex;
}
.policy .policy-item .policy-text strong{
    font-weight: 600;
}
.policy .policy-item .policy-text span{
   font-size: 12px;
}
@media(max-width:768px){
    .policy .policy-list{
        flex-direction: column;
    }
}
/* ! policy end */

