/* ! Global css */
@import url(base.css);
/* ! Layout */
@import url(../layout/header.css);
@import url(../layout/footer.css);

/* ! Components */
@import url(../components/modal-search.css);
@import url(../components/slider.css);
@import url(../components/category-item.css);
@import url(../components/product-item.css);
@import url(../components/campaign-item.css);
@import url(../components/blog-item.css);
@import url(../components/brand-item.css);
@import url(../components/campaign-single.css);
@import url(../pages/single-product/breadcrumb.css);
@import url(single-product.css);
@import url(../pages/single-product/product-gallery.css);
@import url(single-product/product-info.css);
@import url(single-product/product-tab.css);
@import url(single-product/reviews.css);

/* ! Categories */
@import url(home.css);
@import url(contact.css);
@import url(account.css);
@import url(cart.css);
@import url(blog.css);
@import url(single-blog.css);
