/* ! Global css */
@import url(base.css);
/* ! Layout */
@import url(../layout/header.css);
/* ! Components */
@import url(../components/modal-search.css);
@import url(../components/slider.css);
@import url(../components/category-item.css);
/* ! Categories */
@import url(home.css);